/* .container {
    max-width: 100%;
}

.form-control {
    max-width: 75%;
}

.btn {
    width: 20%;
    margin-left: 5%;
    height: 38px;
}

.icon {
    max-height: 100%;
} */


/* .row {
    margin-top: 10px;
    max-width: 100%;
}





.form {
    width: 75%;
}

.form-control {
    width: 75%;
}

.btn {
    width: 20%;
    margin-left: 5%;
}

.icon {
    width: 80%;
}




.list {
    width: 75%;
}

.main {
    width: 100%;
} */